app/manuals/2ForceMotionBasicsLessonPlan_TL.pdf filter=lfs diff=lfs merge=lfs -text
app/manuals/Acid_base_solutions_Student_directions.pdf filter=lfs diff=lfs merge=lfs -text
app/manuals/Activity[[:space:]]Natural[[:space:]]Selection.docx filter=lfs diff=lfs merge=lfs -text
app/manuals/AreaBuilder.docx filter=lfs diff=lfs merge=lfs -text
app/manuals/BalancingChemicalEquations_Student.docx filter=lfs diff=lfs merge=lfs -text
app/manuals/Build[[:space:]]An[[:space:]]Atom[[:space:]]Exercises.pdf filter=lfs diff=lfs merge=lfs -text
app/manuals/BuildAMolecule-Activity.doc filter=lfs diff=lfs merge=lfs -text
app/manuals/Buoyancy[[:space:]]Activity.docx filter=lfs diff=lfs merge=lfs -text
app/manuals/Buoyancy_student_directions.pdf filter=lfs diff=lfs merge=lfs -text
app/manuals/Collision[[:space:]]Lab.pdf filter=lfs diff=lfs merge=lfs -text
app/manuals/Density_SimActivity.pdf filter=lfs diff=lfs merge=lfs -text
app/manuals/Energy[[:space:]]-[[:space:]]Faraday.pdf filter=lfs diff=lfs merge=lfs -text
app/manuals/Exploring[[:space:]]Average[[:space:]]Atomic[[:space:]]Mass.docx filter=lfs diff=lfs merge=lfs -text
app/manuals/Exploring_Gravity.pdf filter=lfs diff=lfs merge=lfs -text
app/manuals/Forces[[:space:]]and[[:space:]]Motion.docx filter=lfs diff=lfs merge=lfs -text
app/manuals/GravityAndOrbits-StudentActivity.doc filter=lfs diff=lfs merge=lfs -text
app/manuals/INVESTIGATING[[:space:]]MAGNETIC[[:space:]]FIELD.doc filter=lfs diff=lfs merge=lfs -text
app/manuals/Lesson[[:space:]]plan[[:space:]]for[[:space:]]friction[[:space:]]demo.doc filter=lfs diff=lfs merge=lfs -text
app/manuals/MassesandSpringsAP_Student.docx filter=lfs diff=lfs merge=lfs -text
app/manuals/Models[[:space:]]of[[:space:]]the[[:space:]]Hydrogen[[:space:]]Atom[[:space:]]Handout.doc filter=lfs diff=lfs merge=lfs -text
app/manuals/Phet[[:space:]]conductivity.doc filter=lfs diff=lfs merge=lfs -text
app/manuals/RPAL-Student_directions1_intro.pdf filter=lfs diff=lfs merge=lfs -text
app/manuals/ResistanceWireAP_Student.docx filter=lfs diff=lfs merge=lfs -text
app/manuals/Salts[[:space:]]and[[:space:]]Solubility.pdf filter=lfs diff=lfs merge=lfs -text
app/manuals/Saturated[[:space:]]solutions-Lecture[[:space:]]Demo[[:space:]]Guide.pdf filter=lfs diff=lfs merge=lfs -text
app/manuals/Sound[[:space:]]and[[:space:]]Wave[[:space:]]Basics.pdf filter=lfs diff=lfs merge=lfs -text
app/manuals/UnderPressure_Student_directions.pdf filter=lfs diff=lfs merge=lfs -text
app/manuals/acid-base-investigation.docx filter=lfs diff=lfs merge=lfs -text
app/manuals/balloon-introduction.pdf filter=lfs diff=lfs merge=lfs -text
app/manuals/batteries.doc filter=lfs diff=lfs merge=lfs -text
app/manuals/blackbody-lab.docx filter=lfs diff=lfs merge=lfs -text
app/manuals/circuit-directions.pdf filter=lfs diff=lfs merge=lfs -text
app/manuals/circuit-series-parallel.doc filter=lfs diff=lfs merge=lfs -text
app/manuals/collision-theory.pdf filter=lfs diff=lfs merge=lfs -text
app/manuals/conservation[[:space:]]of[[:space:]]energy.doc filter=lfs diff=lfs merge=lfs -text
app/manuals/eating-and-exercise-simulation-project-exercises.docx filter=lfs diff=lfs merge=lfs -text
app/manuals/eating-and-exercise-simulation-project-lesson.docx filter=lfs diff=lfs merge=lfs -text
app/manuals/electric-field-hockey-lesson-plan.doc filter=lfs diff=lfs merge=lfs -text
app/manuals/electric-field-lab.doc filter=lfs diff=lfs merge=lfs -text
app/manuals/electricity-unit.pdf filter=lfs diff=lfs merge=lfs -text
app/manuals/energy-forms-and-changes.docx filter=lfs diff=lfs merge=lfs -text
app/manuals/energy-skate-park-basics.pdf filter=lfs diff=lfs merge=lfs -text
app/manuals/field-of-dreams-tasks.doc filter=lfs diff=lfs merge=lfs -text
app/manuals/friction.doc filter=lfs diff=lfs merge=lfs -text
app/manuals/gas-properties.doc filter=lfs diff=lfs merge=lfs -text
app/manuals/geometric[[:space:]]optics_phet.doc filter=lfs diff=lfs merge=lfs -text
app/manuals/greenhouse-effect.doc filter=lfs diff=lfs merge=lfs -text
app/manuals/induction.pdf filter=lfs diff=lfs merge=lfs -text
app/manuals/magnets.pdf filter=lfs diff=lfs merge=lfs -text
app/manuals/masses-and-springs.pdf filter=lfs diff=lfs merge=lfs -text
app/manuals/microwaves.doc filter=lfs diff=lfs merge=lfs -text
app/manuals/natural-selection.docx filter=lfs diff=lfs merge=lfs -text
app/manuals/nuclear-fission-questions-2.doc filter=lfs diff=lfs merge=lfs -text
app/manuals/nuclear-fission-questions.pdf filter=lfs diff=lfs merge=lfs -text
app/manuals/ohms-law.pdf filter=lfs diff=lfs merge=lfs -text
app/manuals/ph-lesson.docx filter=lfs diff=lfs merge=lfs -text
app/manuals/refraction-of-light.pdf filter=lfs diff=lfs merge=lfs -text
app/manuals/reversible-reactions.pdf filter=lfs diff=lfs merge=lfs -text
app/manuals/rutherford[[:space:]]scattering.doc filter=lfs diff=lfs merge=lfs -text
app/manuals/seeing-colors-activity.docx filter=lfs diff=lfs merge=lfs -text
app/manuals/states-of-matter-basics.pptx filter=lfs diff=lfs merge=lfs -text
app/manuals/states-of-matter.doc filter=lfs diff=lfs merge=lfs -text
app/manuals/student[[:space:]]directions[[:space:]]for[[:space:]]waves[[:space:]]on[[:space:]]a[[:space:]]string.doc filter=lfs diff=lfs merge=lfs -text
app/manuals/technology[[:space:]]lesson.doc filter=lfs diff=lfs merge=lfs -text
app/manuals/the-ramp-intro.docx filter=lfs diff=lfs merge=lfs -text
app/manuals/work-energy-on-ramp.docx filter=lfs diff=lfs merge=lfs -text
